// CENTERING TEXT

.u-center-text {
    text-align: center !important;
}

// POSITIONING

.u-position-top-right {
    position: absolute;
    top: 3%;
    right: 8%;
}

// MARGIN

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-medium {
    margin-bottom: 4rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-right-big {
    margin-right: 8rem !important;
}

.u-margin-right-medium {
    margin-right: 4rem !important;
}

.u-margin-right-small {
    margin-right: 1.5rem !important;
}

.u-margin-left-big {
    margin-left: 8rem !important;
}

.u-margin-left-medium {
    margin-left: 4rem !important;
}

.u-margin-left-small {
    margin-left: 1.5rem !important;
}

// PADDING

.u-padding-bottom-big {
    padding-bottom: 8rem !important;
}

.u-padding-bottom-medium {
    padding-bottom: 4rem !important;
}

.u-padding-bottom-small {
    padding-bottom: 1.5rem !important;
}

.u-padding-top-huge {
    padding-top: 10rem !important;
}

.u-padding-top-big {
    padding-top: 8rem !important;
}

.u-padding-right-big {
    padding-right: 8rem !important;
}

.u-padding-right-medium {
    padding-right: 4rem !important;
}

.u-padding-right-small {
    padding-right: 1.5rem !important;
}

.u-padding-left-big {
    padding-left: 8rem !important;
}

.u-padding-left-medium {
    padding-left: 4rem !important;
}

.u-padding-left-small {
    padding-left: 1.5rem !important;
}

// HANDLER

.u-cursor-handler {
    cursor: pointer;
}
