.home-container {
    height: 100vh;
    width: 100vw;

    .pagelayout {
        height: 92vh;
    }

    .navigation {
        height: 8vh;
    }
}

.friend-section {
    height: 92vh;
    display: inline-flex;
    flex-direction: row;
}
