* {
    text-align: center;
    background-color: #bf4a35;
    color: white;
    font-family: Helvetica;
    box-sizing: border-box;
    margin: auto;
}

footer {
    padding-bottom: 20px;
    padding-top: 20px;
}

.Welcome {
}

.logo {
    background-color: inherit;
    height: 250px;
    width: 250px;
}

.logoinnav {
    height: 50px;
    width: 50px;
    float: left;
    background-color: tomato;
}

.navigation {
    height: 80px;
    width: 100%;
    background-color: tomato;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation h3 {
    background-color: tomato;
}

.navigation-links {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    background-color: tomato;
}

.navigation-links a {
    background-color: tomato;
    text-decoration: none;
}

.navigation-links a:hover {
    text-decoration: underline;
}

.Profilepic {
    width: 50px;
    height: 50px;
    float: right;
    background-color: tomato;
}

.wrapperForProfilepic {
    display: inline-flex;
    background-color: tomato;
}

.wrapperForProfilepic p {
    margin-right: 10px;
    background-color: tomato;
}

input {
    background-color: white;
    color: black;
    width: 200px;
    height: 20px;
    border: 1px solid #cccccc;
    font-size: 15px;
    font-family: Helvetica;
}

.TitleWelcome {
    padding-bottom: 30px;
}

.Registration {
    margin: 30px;
    border: 1px dotted #cccccc;
    border-radius: 20px;
    background-color: tomato;
}

.submitButton {
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.modal input {
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 100vh 100vh rgba(0, 0, 0, 0.57);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: tomato;
    border: 1px solid #cccccc;
    border-radius: 15px;
    height: 300px;
    width: 500px;
}

.modal label {
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
}

.close-btn {
    margin-top: 30px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: white;
    color: black;
}

/* button {
    background-color: white;
    color: black;
    border-radius: 5px;
} */

/* Button Option 2 */

button {
    margin-top: 30px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.mainbody {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.bioPlaceholder {
    font-size: 12px;
    text-decoration-style: dotted;
    pointer: cursor;
}

.bioPlaceholder:hover {
    text-decoration-style: solid;
}

.ProfileCard {
    /* border: 1px dotted black; */
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 20px;
    width: 100%;
    height: 15vh;
    background-color: tomato;
    border-radius: 10px;
    padding-right: 20px;
}

.ProfileCard img {
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    border: 1px solid black;
}

.ProfileCard p {
    margin-left: 20px;
}

.ProfileCard textarea {
    margin-left: 30px;
}

.ProfileCard {
    white-space: nowrap;
}

.NoWrap {
    background-color: tomato;
}

.underline {
    font-size: 12px;
    text-decoration-style: dotted;
    pointer: cursor;
}

.logout p {
    font-size: 16px;
    text-decoration-style: dotted;
    pointer: cursor;
}

.findFriendsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centerInput {
    margin-left: 50%;
    transform: translateX(-50%);
}

.ForProfileSlashRoute {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editButton {
    cursor: pointer;
}

.draftBio {
    background-color: white;
    color: black;
    height: 70px;
    width: 200px;
}

/* FOR CHAT */

.chatbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-container {
    height: 550px;
    width: 500px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    background-color: tomato;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.chatwrappercolor {
    background-color: tomato;
}

.ChatTextarea {
    background-color: white;
    color: black;
    height: 50px;
    width: 500px;
    margin-top: 0px;
}

.dateformatinchat {
    font-size: 10px;
    margin-bottom: 10px;
}

.dateformatinchat p {
    margin: 0px;
}

/* .ImageandnameInChat {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MessageAndDateInChat {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.loggout {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.NameInChat {
    font-size: 12px;
    font-weight: bold;
}

.MessageInChat {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.BioEditor {
    background-color: tomato;
}

.horiLine {
    width: 50vh;
}

/* STYLING FRIEND BUTTONS */

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 1px solid #cccccc;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.AlreadyFriends {
    background-color: green;
}

.sendFriendRequest {
    background-color: orange;
}

.PendingFriends {
    background-color: violet;
}

.DeclineFriend {
    background-color: red;
}

.AcceptFriend {
    background-color: pink;
}
